<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/a-propos.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a class="underline" href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section id="identity" class="margin-sides margin-top">
    <div id="identity-img"><img src="../assets/portrait.png" alt=""></div>
    <div id="identity-text">
    <h1 class="italic-500">Laurène Cottereau</h1>
    <h2 class="italic-300">Des projets qui font sens</h2>
    <p>Diplômée en 2025 d’un double cursus en architecture d’intérieur et design à LISAA – L’Institut Supérieur
        des Arts Appliqués, j’ai choisi, la même année, de fonder mon auto-entreprise afin de donner forme à une
        pratique qui me ressemble : <span class="bold">engagée, collaborative et profondément humaine.</span></p>
    <p>Animée par le désir d’apprendre sans cesse et d’évoluer au contact d’autres univers, je conçois mon métier 
        comme un <span class="bold">terrain d’échange et de partage</span>. Travailler aux côtés d’autres architectes,
        artisans, ou designers me permet de <span class="bold">nourrir ma créativité</span>, de <span class="bold">
        confronter mes idées</span> et <span class="bold">d’enrichir chaque projet d’une réflexion collective.</span></p>
    <p>Ce que j’aime dans mon travail, c’est cette <span class="bold">pluralité d’approches</span> : passer du croquis
        au chantier, du détail technique à la recherche de matériaux, du dialogue avec le client à la coordination
        d’une équipe. Chacune de ces étapes raconte quelque chose du lieu et de ceux qui le feront vivre.
        Je puise mon inspiration dans les <span class="bold">matières naturelles, les lumières changeantes, les lieux
        habités</span> — ceux qui portent une histoire, même discrète, et que l’on vient <span class="bold">réinterpréter
        sans jamais les dénaturer</span>. J’aime les <span class="bold">espaces qui respirent la sincérité</span>,
        où chaque élément a une raison d’être, où l’on ressent la main, la trace, la justesse du geste.</p>
    <p>Ma démarche repose sur une conviction simple : <span class="bold">un projet réussi</span> ne naît pas d’une
        idée spectaculaire, mais d’une <span class="bold">écoute attentive, d’un équilibre juste et d’une cohérence
        globale</span>. Selon moi, <span class="bold">concevoir, c’est d’abord observer et comprendre</span>, mais
        aussi chercher à imaginer des <span class="bold">projets porteurs de sens, ancrés dans leur époque et respectueux
        de ce qui les entoure</span> — traduire des émotions en espace et imaginer des lieux qui racontent une histoire,
        avec douceur et authenticité.</p>
    </div>
</section>
<section id="vision-et-valeurs" class="margin-sides">
    <h2 class="italic-300 bold">Ma vision et mes valeurs</h2>
    <div id="vision-et-valeurs-container">
        <div id="vision-et-valeurs-text">
            <p>Chaque projet commence par une <span class="bold">écoute attentive</span> et une <span class="bold">observation du lieu</span>. <span class="bold">comprendre ce qui existe déjà</span>, en saisir la personnalité et le potentiel, permet d’imaginer une transformation juste et porteuse de sens.</p>
            <p>J’aime aborder un espace avec curiosité et respect, en cherchant à <span class="bold">révéler plutôt qu’à effacer</span>. Ma démarche vise un <span class="bold">équilibre</span> entre intention et fonctionnalité, esthétique et usage, budget et qualité — une conception honnête et mesurée, où chaque choix a sa raison d’être.</p>
            <p>J’accorde une attention particulière à <span class="bold">la valeur du déjà-là</span> : un matériau à réemployer, une lumière à préserver, un détail à sublimer. Ces éléments simples donnent une âme au projet et créent ce lien subtil entre le lieu et ceux qui l’habitent.</p>
            <p>Je défends une <span class="bold">architecture d’intérieur sincère et ancrée dans le réel</span> — des espaces justes, <span class="bold">durables</span> et sensibles.</p>
        </div>
        <div id="dot-split"></div>
        <div id="vision-et-valeurs-img"><img src="../assets/ma-vision.png" alt=""></div>
    </div>
</section>
<footer>
    <img src="../assets/logo.png" alt="">
    <div id="footer-container">
        <div class="footer-container">
            <h3 class="italic-500">Laurene Cottereau</h3>
            <h4 class="italic-300">LC architecture Entreprise indivuduelle</h4>
            <h5 classh="italic-300">Architecte d’intérieur et designer diplômée d’État Région parisienne Nord de l’Alsace Ile de Ré</h5>
            <h5 class="italic-300">Siret : 99217696600016</h5>
        </div>
        <div class="footer-container">
            <a href="../views/contact.html"><h3 class="underline italic-500">ME CONTACTER</h3></a>
            <h5 class="italic-300">lcottereau.architecture@gmail.com</h5>
            <h5 class="italic-300">07 83 17 50 48</h5>
        </div>
        <div class="footer-container">
            <h3 class="underline italic-500">ME RETROUVER</h3>
            <div class="footer-social-media-link-container"><a href=""><img src="../assets/linkedin-logo.svg" alt=""></a><h5 class="italic-300">Laurène Cottereau</h5></div>
            <div class="footer-social-media-link-container"><a href=""><img src="../assets/instagram-logo.svg" alt=""></a><h5 class="italic-300">laurene_ctr</h5></div>
        </div>
            <div id="copyrights"><h5 class="italic-300">© 2025 – Tous droits réservés | Laurène Cottereau</h5></div>

    </div>
</footer>
</body>
</html>
<script src="../js/nav.js"></script>
