<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/croquis.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a class="underline" href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section id="presentation" class="margin-sides">
    <div class="img-container"><img src="../assets/croquis-presentation.jpeg" alt=""></div>
    <div id="presentation-text">
        <h1 class="italic-500">Carnet de croquis</h1>
        <h2 class="italic-300">Observer autrement</h2>
        <p>Dessiner est pour moi une manière d’<span class="bold">observer le monde différemment</span> — un <span class="bold">moment suspendu, hors du temps</span>, où l’on <span class="bold">ralentit pour regarder vraiment</span>. Dans un monde où l’on passe une grande partie de nos journées les yeux rivés sur des écrans, on oublie parfois de voir ce qui nous entoure. Le dessin, lui, m’invite à <span class="bold">lever le regard</span>, à retrouver le contact avec le réel, à observer les choses simplement, telles qu’elles sont, et à <span class="bold">habiter un instant</span>.</p>
        <p>Le croquis m’invite à saisir une lumière, un détail, une atmosphère, <span class="bold">sans chercher la perfection mais l’essentiel</span>. J’aime prendre le temps de dessiner quand je voyage ou que l’inspiration se présente, pour immortaliser les lieux à ma façon. Ces moments sont à la fois un exercice d’observation et une parenthèse apaisante, où l’on redécouvre la beauté du monde tel qu’il est, sans filtre ni artifice.</p>
        <p>Au fil des années, ces dessins sont devenus comme un <span class="bold">carnet de route</span> personnel, un prolongement naturel de ma pratique : une <span class="bold">autre manière de raconter les espaces</span>, de les comprendre et de les ressentir.</p>
    </div>
</section>
<section id="italy" class="margin-sides">
    <div id="italy-croquis-container">
        <div class="img-container"><img src="../assets/croquis-italy-1.png" alt=""></div>
        <div class="img-container"><img src="../assets/croquis-italy-2.png" alt=""></div>
    </div>
    <p class="italic-300">Croquis réalisés à Pises et Lucques en Italie</p>
    <div class="img-container"><img src="../assets/croquis-italy-3.png" alt=""></div>
</section>
<section id="free-time" class="margin-sides">
    <div id="free-time-croquis-container">
        <div class="img-container"><img src="../assets/croquis-free-time-1.png" alt=""></div>
        <div class="img-container"><img src="../assets/croquis-free-time-2.png" alt=""></div>
        <div class="img-container"><img src="../assets/croquis-free-time-3.png" alt=""></div>
    </div>
    <p class="italic-300">Croquis réalisés sur mon temps libre</p>
</section>
<section id="architecture" class="margin-sides">
    <div class="architecture-croquis-container">
        <div class="img-container"><img src="../assets/croquis-architecture-Jules-Lavirotte.png" alt=""></div>
        <p class="italic-300">Immeuble réalisé par Jules Lavirotte</p>
    </div>
    <div class="architecture-croquis-container">
        <div class="img-container"><img src="../assets/croquis-architecture-design.jpg" alt=""></div>
        <p class="italic-300">Cité de la mode et du design</p>
    </div>
</section>
<section id="vegetation" class="margin-sides">
    <div id="vegetation-croquis-container">
        <div class="img-container"><img src="../assets/croquis-vegetation-1.png" alt=""></div>
        <div class="img-container"><img src="../assets/croquis-vegetation-2.png" alt=""></div>
        <div class="img-container"><img src="" alt=""></div>
    </div>
    <p class="italic-300">Architectures végétalisées</p>
</section>

</body>
</html>
<script src="../js/nav.js"></script>
