<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/projets-professionnels.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="index.html"><img src="../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-display">
    <div>
        <a href=""><img src="" alt=""></a><h3 class="italic-300">Projet 1</h3>
    </div>
    <div>
        <a href=""><img src="" alt=""></a><h3 class="italic-300">Projet 2</h3>
    </div>
    <div>
        <a href=""><img src="" alt=""></a><h3 class="italic-300">Projet 3</h3>
    </div>
</section>
</body>
</html>
