#nav-croquis a {
    font-weight: 550;
    font-size: larger;
}

#nav-croquis a:hover::before {
  width: 0;
}

/*-------- presentaion --------*/

#presentation{
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}

#presentation .img-container {
    width: 28%;
}

#presentation #presentation-text {
    width: 50%;
    transform: translateY(-2.5%);
}

#presentation #presentation-text h1 {
    font-size: clamp(1em, 3.3vw, 5em);
}

#presentation #presentation-text h2 {
    font-size: clamp(0.6em, 1.7vw, 3em);
    margin-bottom: 6%;
}

#presentation #presentation-text p {
    margin-top: 3.2%;
}

/*-------- italy --------*/

#italy {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

#italy #italy-croquis-container {
    display: flex;
    justify-content: space-between;
}

#italy #italy-croquis-container .img-container:nth-child(1)  {
    width: 35%;
}

#italy #italy-croquis-container .img-container:nth-child(2)  {
    width: 50%;
}

#italy .img-container {
    width: 60%;
    align-self: center;
    margin-top: 8%;
}

/*-------- free-time --------*/

#free-time {
    margin-top: 11%;
}

#free-time #free-time-croquis-container {
    display: flex;
    justify-content: space-between;
}

#free-time #free-time-croquis-container .img-container {
    width: 27%;
}

#free-time p {
    width: auto;
    transform: translateX(1%);
    margin-top: 1.5%;
}


/*-------- architecture --------*/

#architecture {
    display: flex;
    justify-content: space-between;
    margin-top: 11%;
}

#architecture .architecture-croquis-container:nth-child(1) {
    width: 55%;
}

#architecture .architecture-croquis-container:nth-child(2) {
    width: 24.6%;
}

#architecture .architecture-croquis-container p {
    margin-top: 15px;
}


/*-------- vegetation --------*/

#vegetation {
    margin-top: 11%;
    margin-bottom: 5%;
}

#vegetation #vegetation-croquis-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vegetation #vegetation-croquis-container .img-container {
    width: 28%;
}

#vegetation p {
    margin-top: 1.5%;
}
