/*-------- nav - expeptions --------*/

nav ul {
    transform: translateX(3%);
}

/*-------- identity section --------*/

#identity {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

#identity-text{
    transform: translateY(-11px);
}

#identity img {
    width: auto;
    height: 700px;
}

#identity-text h1 {
    font-size: 3.5em;
    margin: 0;
}
#identity-text h2 {
    font-size: 1.8em;
    transform: translate(0px, -25px);
}

#identity-text p {
    margin-bottom: 20px;
    line-height: 1.65em;
    font-size: 0.875em;
}
