/*-------- identity section --------*/

#identity {
    display: flex;
    flex-direction: row;
    padding: 175px 110px;
    gap: 70px;
    background-color: #f7f0e8;
}

#identity img {
    width: auto;
    height: 700px;
}

#identity-text h1 {
    font: 500 italic 3.5em "Montserrat", sans-serif;
    margin: 0;
}
#identity-text h2 {
    font: 300 italic 1.8em "Montserrat", sans-serif;
    transform: translate(0px, -25px);
}

#identity-text p {
    margin-bottom: 30px;
    line-height: 1.6em;
}
