<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/beyrac.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projets-professionels/beyrac/beyrac.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Maison Beyrac</h1>
        <h2 class="italic-300">Entre héritage et confort contemporain</h2>
        <p>Pour ce projet, le client souhaitait à la fois <span class="bold">réagencer son intérieur et créer une extension</span>. L’idée principale a été de concevoir un espace qui <span class="bold">corresponde à sa manière de vivre</span>, en identifiant ce qui est réellement <span class="bold">utile et important pour lui</span>.</p>
        <p>Nous avons donc imaginé un long <span class="bold">couloir d’entrée</span> qui dessert à la fois l’extension – avec le salon – et les autres pièces de la maison. Traverser ce couloir très lumineux offre immédiatement une vue plongeante sur le <span class="bold">patio intérieur, inspiré des cours typiques des maisons du Moyen-Orient</span>, faisant <span class="bold">écho aux origines de la cliente</span> et apportant lumière et respiration au cœur du projet.</p>
        <p>Dans le <span class="bold">salon</span>, où le client accorde une grande importance à la lecture, nous avons intégré une <span class="bold">bibliothèque sur mesure</span>, issue d’un modèle existant <span class="bold">récupéré d’un autre projet</span>, que nous avons adaptée et améliorée pour s’intégrer parfaitement à ce nouvel espace. L’<span class="bold">escalier</span>, pièce centrale de la maison, a également été <span class="bold">réemployé</span>, permettant de donner une <span class="bold">nouvelle vie à ces éléments uniques et chargés d’histoire</span>.</p>
        <p>L’ensemble de ces choix vise à conjuguer <span class="bold">fonctionnalité, esthétisme et respect du mode de vie du client</span>, tout en <span class="bold">valorisant des éléments existants</span>, leur conférant une nouvelle identité au sein de la maison.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/beyrac/beyrac-description.png" alt="">
    </div>
</section>
<section id="plan-coupe" class="margin-sides">
    <div id="plan-coupe-container">
        <div class="img-container"><img src="../../assets/projets-professionels/beyrac/beyrac-plan.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/beyrac/beyrac-coupe.png" alt=""></div>
    </div>
    <p>Plan et coupe du projet</p>
</section>
<section id="visuel">
    <div class="img-container"><img src="../../assets/projet-pro-1-beyrac.png" alt=""></div>
    <p>Visuel 3D du couloir et du patio</p>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>