<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/le-grand-buffet.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-4-le-grand-buffet.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Le Grand Buffet</h1>
        <h2 class="italic-300">L’artisanat modernisé</h2>
        <p>Pour ce projet, le client souhaitait offrir une véritable <span class="bold">seconde vie à sa boucherie</span>, restée inchangée depuis son aménagement d’origine. L’espace, <span class="bold">trop chargé et encombré</span>, manquait de lisibilité et <span class="bold">ne mettait plus en valeur le savoir-faire du commerçant</span>.</p>
        <p>Nous avons donc imaginé un nouvel aménagement à la fois <span class="bold">moderne, épuré et chaleureux</span>, en repensant intégralement les volumes, les matériaux et les codes esthétiques. Les nouveaux <span class="bold">mobiliers en bois</span>, dessinés sur mesure, rappellent subtilement le <span class="bold">charme des anciens meubles</span> tout en s’inscrivant dans une écriture <span class="bold">contemporaine et sobre</span>. Cette alliance permet d’instaurer une <span class="bold">atmosphère</span> authentique et accueillante, <span class="bold">fidèle à l’esprit artisanal du lieu</span>.</p>
        <p>Pour <span class="bold">dynamiser</span> cet univers, nous avons introduit des éléments lumineux et graphiques, notamment des <span class="bold">néons</span>. L’un d’eux <span class="bold">met en avant la distinction obtenue par la maison</span> : Médaille de bronze au championnat de France du meilleur jambon de Paris 2024.</p>
        <p>Nous avons également souhaité <span class="bold">valoriser le savoir-faire artisanal du client</span>, champion de France du saucisson 2024. Cet atout a inspiré un <span class="bold">élément fort du projet </span>: un <span class="bold">caisson vert suspendu à un IPN</span>, accueillant le <span class="bold">réfrigérateur à saucissons</span>. Visible dès l’entrée, il constitue un <span class="bold">repère visuel fort</span> depuis l’extérieur comme depuis l’intérieur, mettant en scène les produits phares du client.</p>
        <p>L’ensemble du projet repose sur une <span class="bold">relecture contemporaine des codes traditionnels de la boucherie</span>, où chaque détail contribue à affirmer une identité élégante, chaleureuse et distinctive.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/le-grand-buffet/le-grand-buffet-description.png" alt="">
    </div>
</section>
<section id="plans" class="margin-sides">
    <div id="plan-existant">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/plan-existant.png" alt=""></div>
        <p>Plan de l’existant</p>
    </div>
    <div id="project-plan">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/project-plan.png" alt=""></div>
        <p>Plan du projet</p>
    </div>
</section>
<section id="elevation-elec" class="margin-sides">
    <div id="elevation">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/elevation.png" alt=""></div>
        <p>Elévation de la façade</p>
    </div>
    <div id="elec">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/plan-elec.png" alt=""></div>
        <p>Plan électrique du projet</p>
    </div>
</section>
<section id="coupes" class="margin-sides">
    <div id="coupe-aa">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/coupe-AA.png" alt=""></div>
        <p>Coupe AA</p>
    </div>
    <div id="coupe-cc">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/coupe-CC.png" alt=""></div>
        <p>Coupe CC</p>
    </div>
</section>
<section id="visuel">
    <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/visuel.png" alt=""></div>
    <p>Visuel 3D du projet</p>
</section>
<section id="plan-mobilier" class="margin-sides">
    <h3>Plans du mobilier</h3>
    <div id="plan-container">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/plan-saucisson.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/plan-vitrine.png" alt=""></div>
    </div>
</section>
<section id="avant-travaux" class="margin-sides">
    <h3>Avant travaux</h3>
    <div class="travaux-row-display">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/avant-travaux-1.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/avant-travaux-2.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/avant-travaux-2.jpeg" alt=""></div>
    </div>
</section>
<section id="pendant-travaux" class="margin-sides">
    <h3>Pendant travaux</h3>
    <div class="travaux-row-display">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/pendant-travaux-1.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/pendant-travaux-2.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/pendant-travaux-3.jpeg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/pendant-travaux-4.jpeg" alt=""></div>
    </div>
    </div>
</section>
<section id="apres-travaux" class="margin-sides">
    <h3>Après travaux</h3>
    <div class="travaux-row-display">
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/apres-travaux-1.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/apres-travaux-2.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/le-grand-buffet/apres-travaux-3.png" alt=""></div>
    </div>
    </div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>
