<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/marianne.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-3-marianne.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Marianne</h1>
        <h2 class="italic-300">Entre fonctionnalité et réemplois</h2>
        <p>Ce projet porte sur la <span class="bold">rénovation d’une salle de bain et la création d’un dressing</span>, judicieusement placé entre la chambre et la salle de bain afin de faciliter la circulation entre les deux espaces. La salle de bain comporte <span class="bold">deux entrées</span> : <span class="bold">l’une depuis le dressing</span>, permettant un accès direct depuis la chambre, et l’autre <span class="bold">depuis le couloir</span>, pour un accès direct depuis le couloir par les enfants.</p>
        <p>L’un des axes principaux du projet a été de <span class="bold">maximiser l’utilisation de matériaux et éléments de réemploi</span>, dans un souci à la fois économique pour la cliente et écologique.</p>
        <p>Pour créer la <span class="bold">séparation entre la chambre et le dressing</span>, nous avons conçu une <span class="bold">paroi</span> combinant des <span class="bold">poutres en bois et une claustra récupérée d’anciens projets</span>. Ces éléments existants ont été retravaillés et transformés pour leur donner une seconde vie. La <span class="bold">claustra</span> a été <span class="bold">transformée en porte coulissante</span>, tandis que les <span class="bold">poutres</span> servent de <span class="bold">structures verticales</span>. Entre chaque poutre, des étagères ont été intégrées, donnant ainsi naissance à une <span class="bold">cloison multifonctionnelle</span> : côté chambre, elle devient une <span class="bold">bibliothèque</span>, côté dressing, elle offre des espaces de <span class="bold">rangement</span>.</p>
        <p>L’ensemble du projet allie <span class="bold">fonctionnalité, esthétique et durabilité</span>, en mettant en valeur la <span class="bold">créativité</span> dans l’utilisation de matériaux existants tout en <span class="bold">répondant aux besoins</span> précis de circulation et de rangement <span class="bold">de la cliente</span>.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/villa-kandy/villa-kandy-description.png" alt="">
    </div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>