<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-professionels/villa-kandy.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-pro-2-v1-villa-kandy.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Villa Kandy</h1>
        <h2 class="italic-300">Entre héritage et confort contemporain</h2>
        <p>Ce projet porte sur le réaménagement et l’agrandissement d’une villa dans le sud de la France, avec pour objectif de créer des espaces fonctionnels tout en conservant l’âme et le caractère du lieu. À partir des plans du géomètre et de photographies de l’existant, j’ai réalisé des plans complets et des élévations détaillées de l’existant en phase ESQ, créant une base de réflexion pour le projet.</p>
        <p>Le maître d’ouvrage souhaitait préserver l’identité de la villa tout en intégrant ses objets de valeur. Une attention particulière a été portée à la bibliothèque sous les combles, pièce maîtresse pour le client, conçue comme un espace de lecture intimiste et poétique, où il pourrait se plonger dans ses livres tout en mettant en valeur sa collection. Cette réflexion sur l’organisation et les volumes a guidé l’aménagement des autres pièces, afin de créer des espaces harmonieux et fonctionnels.</p>
        <p>L’approche adoptée vise à respecter le caractère existant de la villa, valoriser la lumière naturelle, les volumes et la matérialité des lieux, tout en proposant des interventions légères et précises. L’ensemble des aménagements cherche à offrir des espaces à vivre confortables, esthétiques et en cohérence avec l’architecture existante, répondant aux besoins du client.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-professionels/villa-kandy/villa-kandy-description.png" alt="">
    </div>
</section>
<section id="salon" class="margin-sides">
    <h3>Plan et coupes du salon_existant</h3>
    <div id="plan-coupes">
        <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/plan-salon.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/coupes-salon.png" alt=""></div>
    </div>
</section>
<section id="bibliotheque" class="margin-sides">
    <h3>Plan et coupes de la bibliohèque</h3>
    <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/bibliotheque.png" alt=""></div>
</section>
<section  id="visuel-bibliotheque" class="margin-sides">
    <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/visuel-bibliotheque.png" alt=""></div>
    <p>Visuel 3D de la bibliothèque</p>
</section>
<section id="visuel-salon" class="margin-sides">
    <h3>Visuels 3D de la suite parentale</h3>
    <div id="visuels-container">
        <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/visuel-salon-1.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-professionels/villa-kandy/visuel-salon-2.png" alt=""></div>
    </div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>