h3 {
    color: #a14a24;
    font-size: 1.5em;
}

section {
    width: auto;
}

.project-description .img-container {
    width: 38%;
    margin-bottom: 6%;
}

/*--------- concept ---------*/

#ecume-des-pres-concept {
    margin-top: 12%;
}

#ecume-des-pres-concept .img-container {
    width: 100%;
    height: auto;
}

#ecume-des-pres-concept p{
    margin-top: 2%;
    text-align: end;
}

/*--------- schema ---------*/

#ecume-des-pres-schema {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

#ecume-des-pres-schema .img-container {
    width: 40%;
}


/*--------- bande ---------*/

#bande {
    background-color: #a14a24;
    padding: 2.5% 0;
    margin-top: 10%;
}

#bande div {
    display: flex;
    justify-content: space-between;
}

#bande div p{
    color: #f7f0e8;
    font-size: clamp(0.05em, 1.1vw, 2em);
    font-weight: 100;
}

/*--------- plans ---------*/

#plans {
    display: flex;
    flex-direction: column;
}

#plan-mobilier, #plan-velo {
    display: flex;
    justify-content: space-between;
    margin-top: 17%;
    gap: 10%;
}


#plan-mobilier .img-container, #plan-velo .img-container {
    width: 100%;
}

#plan-mobilier p, #plan-velo p{
    margin-top: 8%;
}

#plan-mobilier div:nth-child(2) p, #plan-velo div:nth-child(2) p {
    text-align: end;
}



/*--------- visuel ---------*/

#visuel {
    margin-top: 12%;
}

#visuel .img-container {
    width: 100%;
}

#visuel p {
    text-align: end;
    margin-top: 2%;
}

/*--------- plantes & materials ---------*/

#plantes, #materials  {
    margin-top: 8%;
}

#plantes h3, #materials h3 {
    margin-bottom: 6%;
}

.row-4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}

.row-slot {
    width: 20%;
}

.row-slot h4 {
    margin: 7% 0;
}

.row-slot p {
    margin-top: 7%;
}

