h3 {
    color: #a14a24;
    font-size: 1.5em;
}

.project-description .img-container {
    width: 9%;
    margin-right: 10%;
}

/*--------- plans ---------*/

#plans {
    margin-top: 14%;
}

#plans h3 {
    margin-bottom: 12%;
}

#plans-container {
    display: flex;
    justify-content: space-between;
}

#plans-container .img-container:nth-child(1) {
    width: 36%;
}

#plans-container .img-container:nth-child(2) {
    width: 44%;
}

/*--------- visuel-cour ---------*/

#visuel-cour {
    margin-top: 14%;
}

#visuel-cour .img-container {
    width: 70%;
    margin: auto;
}

#visuel-cour p {
    width: 70%;
    margin: 1.5% auto;
    text-align: end;
}