h3 {
    color: #a14a24;
    font-size: 1.5em;
}

section {
    width: auto;
}

/*--------- description-section ---------*/

/*--------- project-implantation ---------*/

#project-implantation {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

#project-implantation .img-container {
 width: 62%;
}


#implantation-description {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#implantation-description h4 {
    font-size: 0.9em;
    color: #a14a24;
    margin-bottom: 20%;
}

#implantation-description .img-container {
    width: 50%;
}


/*--------- Plan-rez-de-chaussée ---------*/

#plan-rez-de-chaussée {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

#plan-rez-de-chaussée h3 {
    margin: 0 7.8% 3% 7.8%;
}

#plan-rez-de-chaussée #plan-rdc.img-container {
    width: 45%;
    align-self: center;
}

#plan-rez-de-chaussée #bande {
    width: 74%;
    background-color: #a14a24;
    margin: 7% 0;
    padding: 2% 13%;
}

#plan-rez-de-chaussée #bande p {
    color: #f7f0e8; 
    text-align: center;
    font-weight: 100;
}

#plan-rdc-activites-display {
    display: flex;
    justify-content: space-between;
    margin: 0 7.8%;
}

#plan-rdc-activites-display #plan-rdc.img-container {
    width: 30%;
}

#plan-rdc-activites-display #dot-split {
    position: relative;
    width: 0.4%; /* épaisseur de la ligne */
    background: repeating-linear-gradient(
    to bottom,
    #a14a24,
    #a14a24 23px,   /* longueur d’un tiret */
    transparent 23px,
    transparent 38px /* espace entre tirets */
    );
}

#plan-rdc-activites-display #plan-rdc-activites.img-container {
    width: 60%;
}

/*--------- mucic ---------*/

#music {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

#music h3 {
    margin-bottom: 4%;
}

/*--------- plan-premier-etage ---------*/

#plan-premier-etage {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

#plan-premier-etage h3 {
    margin-bottom: 4%;
}

#plan-premier-etage #plan-premier-etage-img-container {
    width: 53%;
    align-self: center;
    margin-bottom: 10%;
}

/*--------- scenarios-d-usages-mobiliers ---------*/

#scenarios-d-usages-mobiliers {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

#scenarios-d-usages-mobiliers h3 {
    margin-bottom: 6%;
}

/*--------- idk ---------*/

#idk {
    margin-top: 15%;
    height: 600px;
}

/*--------- maquette ---------*/

#maquette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

#maquette div {
    width: 30%;
    align-self: flex-end;
}