h3 {
    color: #a14a24;
    font-size: 1.5em;
}

section {
    width: auto;
}

.img-container img {
    width: 100%;
}

/*--------- description-section ---------*/

#project-description {
    display: flex;
    justify-content: space-between;
}

#project-title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

#project-title h1 {
 font-size: 3em;

}

#project-title h2 {
    font-size: 1.45em;
    margin-bottom: 4%;
}
#project-title p {
    font-size: 0.8em;
    margin-top: 2.5%;
}

#project-description .img-container {
    width: 30%;
    height: auto;
    align-self: flex-end;
    margin-bottom: 2%;
}


/*--------- project-implantation ---------*/

#project-implantation {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

#project-implantation .img-container {
 width: 62%;
}


#implantation-description {
    width: 32%;
    display: flex;
    flex-direction: column;
}

#implantation-description #implantation-description-title {
}

#implantation-description h4 {
    font-size: 0.9em;
    color: #a14a24;
}

#implantation-description .img-container {
    justify-self: flex-end;
}
