<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-academiques/educasier.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-acad-5-educasier.png" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Educasier</h1>
        <h2 class="italic-300">Explorer, grimper, imaginer</h2>
        <p>Parce que la pédagogie et l’autonomie sont essentielles à l’école, Educasier est un dispositif pensé pour accompagner le quotidien des élèves dans une école primaire des Yvelines. Sa forme rectiligne et ses couleurs harmonieuses font écho à l’architecture extérieure du bâtiment, créant une résonance entre intérieur et extérieur et permettant au mobilier de s’intégrer naturellement dans la salle de classe.</p>
        <p>Ce dispositif est né d’une volonté forte : instaurer un rituel, une routine pour chaque enfant, à l’instar de celui qu’il pourrait avoir chez lui. Educasier réunit en un seul endroit vêtements et effets personnels, et chaque élève apprend à les ranger de manière organisée et structurée, suivant un ordre clair qui facilite la mémorisation et limite les oublis fréquents. Composé de portes-manteaux amovibles et de cases individuelles, il encourage l’autonomie. Une banquette placée à cheval entre chaque casiers permet aux enfants de s’asseoir pour retirer leurs chaussures et les ranger facilement.</p>
        <p>Le dispositif se prolonge également dans la cour de l’école, où il offre des emplacements pour les manteaux et ballons, laissant aux enfants la liberté de choisir où déposer leurs affaires. Educasier vise ainsi à créer un environnement organisé, sécurisant et stimulant, où chaque enfant développe progressivement ses habitudes, son autonomie et son sens de l’ordre, tout en s’inscrivant en harmonie avec l’école et son architecture.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-academiques/educasier/educasier-description.png" alt="">
    </div>
</section>
<section id="plans" class="margin-sides">
    <h3>Plans d’un casier type et de son implantation</h3>
    <div id="plans-container">
        <div class="img-container"><img src="../../assets/projets-academiques/educasier/plan-mobilier.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-academiques/educasier/plan-classe.png" alt=""></div>
    </div> 
</section>
<section id="visuel-cour" class="margin-sides">
    <div class="img-container"><img src="../../assets/projets-academiques/educasier/visuel-cour.png" alt=""></div>
    <p>Visuel 3D de la cour de récréation</p>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>