<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-academiques/espace-de-vente.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-acad-3-espace-de-vente.jpg" alt="">
</section>
<section class="margin-sides project-description">
    <div class="project-title">
        <h1 class="italic-500">Espace de vente</h1>
        <h2 class="italic-300">Lorsque conscience environnementale et transmission rencontrent la cosmétque</h2>
        <p><span class="bold">Dans vingt ans, Yves Rocher</span> sera une marque pleinement <span class="bold">engagée dans une démarche durable</span>, fidèle à son héritage végétal et tournée vers un futur respectueux du vivant. Chaque aspect, de la composition des produits aux matériaux utilisés pour ses boutiques, participera à une <span class="bold">approche consciente</span> et respectueuse de l’environnement, <span class="bold">tout en tirant parti de la technologie de manière réfléchie</span>, notamment grâce aux capsules, pour améliorer l’expérience client sans dénaturer l’essence de la marque.</p>
        <p>Le magasin se transformera en un véritable <span class="bold">écosystème expérientiel</span>. Au rez-de- chaussée, des <span class="bold">capsules d’analyse</span> permettront d’étudier le visage et les cheveux des visiteurs afin de leur proposer des <span class="bold">produits personnalisés</span>, vendus <span class="bold">en vrac</span> ou dans des <span class="bold">boites en liège</span> pour <span class="bold">réduire les emballages</span> et encourager une consommation raisonnée.</p>
        <p>À l’étage, les clients pourront acheter les <span class="bold">ingrédients nécessaires à la fabrication de leurs propres cosmétiques</span>. Un <span class="bold">atelier</span> ouvert accueillera également des <span class="bold">sessions de création et de transmission</span>, où le <span class="bold">geste artisanal</span> retrouvera toute sa place.</p>
        <p>Enfin, un <span class="bold">jardin</span> accessible depuis le rez-de-chaussée permettra aux visiteurs de se détendre, de se promener et de <span class="bold">découvrir les plantes qui composent les produits</span> de la marque, leur offrant ainsi un aperçu direct de leur origine et de leur rôle.</p>
        <p>Yves Rocher, en 2045, deviendra ainsi un <span class="bold">lieu vivant, durable et sensible</span> — un espace où beauté, nature, innovation raisonnée et savoir se rencontreront pour réinventer la cosmétique de demain.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-academiques/espace-de-vente/espace-de-vente-description.png" alt="">
    </div>
</section>
<section id="da" class="margin-sides">
    <div id="da-logo" class="da-slot">
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/espace-de-vente-logo.png" alt=""></div>
        <p>Logo d’Yves Rocher en 2045</p>
    </div>
    <div id="da-mockup" class="da-slot">
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/mockup.png" alt=""></div>
        <p>Exemples de packaging utilisés par la marque</p>
    </div>
</section>
<section id="legende" class="margin-sides">
    <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/legende.png" alt=""></div>
</section>
<section id="plan-rdc-premier-etage" class="margin-sides">
    <h3>Plans du rez-de-chaussé & du premier étage</h3>
    <div id="plans">
        <div class="plan-container">
            <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/plan-RDC.png" alt=""></div>
            <p>Plan du RDC</p>
        </div>
        <div class="plan-container">
            <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/plan-R+1.png" alt=""></div>
            <p>Plan du R+1</p>
        </div>
    </div>
    <div id="coupe">
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/coupe-aa.png" alt=""></div>
        <p>Coupe AA</p>
    </div>
</section>
<section id="visuel-rdc" class="margin-sides">
    <h3>Visuels du rez-de-chaussée</h3>
    <div class="visuel-container">
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/visuel-rdc-1.png" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/visuel-rdc-2.png" alt=""></div>
    </div>
</section>
<section id="visuel-premier-etage" class="margin-sides">
    <h3>Visuels du premier étage</h3>
    <div class="visuel-container">
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/visuel-R+1-1.jpg" alt=""></div>
        <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/visuel-R+1-2.png" alt=""></div>
    </div>
</section>
<section id="mobilier" class="margin-sides">
    <h3>Plans du mobilier</h3>
    <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/plan-mobilier-1.png" alt=""></div>
    <div class="img-container"><img src="../../assets/projets-academiques/espace-de-vente/plan-mobilier-2.png" alt=""></div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>