<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/projets-academiques/quete.css">
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="../index.html"><img src="../../assets/logo.png" alt="Accueil"></a>
    <ul>
        <li id="nav-projets-professionnels"><a href="../projets-professionnels.html">Projets professionnels</a></li>
        <li id="nav-projets-académiques"><a href="../projets-académiques.html">Projets académiques</a></li>
        <li id="nav-chantiers-participatifs"><a href="../chantiers-participatifs.html">Chantiers participatifs</a></li>
        <li id="nav-croquis"><a href="../croquis.html">Croquis</a></li>
        <li id="nav-a-propos"><a href="../a-propos.html">À propos</a></li>
        <li id="nav-contact"><a href="../contact.html">Contact</a></li>
    </ul>
</nav>
<section class="projects-img-start">
    <img src="../../assets/projet-acad-1-quete-hight-quality.png" alt="">
</section>
<section class="margin-sides" id="project-description">
    <div id="project-title">
        <h1 class="italic-500">Quête</h1>
        <h2 class="italic-300">Une maison pour aujourd’hui, un tremplin pour demain</h2>
        <p><span class="bold">Quête</span> est un projet qui invite à <span class="bold">changer le regard</span> porté sur les adolescents vivant en foyer. Trop souvent confrontés à des épreuves lourdes, ces jeunes sont <span class="bold">forcés de grandir trop vite</span>, portant un poids qui n’est pas le leur. Leur avenir, déjà incertain, s’entoure de doutes. La société, mal à l’aise face à la fracture du lien familial, peine à proposer des réponses justes et humaines.</p>
        <p>Partant de ce constat, Quête cherche à offrir une autre voie : faire de cette étape de vie une <span class="bold">transition soutenante</span>, et non un destin tout tracé. Un moment pour <span class="bold">se reconstruire</span>, pour se découvrir autrement sans que le passé devienne une fatalité.</p>
        <p>Tous les adolescents rêvent de <span class="bold">changer le monde</span> ; <span class="bold">donnons-leur les moyens de transformer le leur</span> dans un cadre où le <span class="bold">confort</span>, matériel comme émotionnel, devient une base solide pour s’élever. Nous imaginons des maisons où chaque année, une <span class="bold">thématique artistique ou culturelle</span> inspire le quotidien. Ces fils rouges deviennent des <span class="bold">leviers d’éveil, d’expression et d’ouverture</span>, contribuant à recréer un sentiment de <span class="bold">confort</span> et d’équilibre dans la vie des jeunes.</p>
        <p>Ensemble, cultivons les talents de chacun, guidés par la <span class="bold">musique</span>, la <span class="bold">littérature</span>, les <span class="bold">arts visuels</span>, le <span class="bold">théâtre</span> ou le <span class="bold">cinéma</span>, autant de langages pour se découvrir, se relier et <span class="bold">grandir</span>.</p>
    </div>
    <div class="img-container">
        <img src="../../assets/projets-academiques/quete/quete-croquis.png" alt="">
    </div>
</section>
<section id="project-implantation" class="margin-sides">
    <div class="img-container"><img src="../../assets/projets-academiques/quete/plancadastral-axo.png" alt=""></div>
    <div id="implantation-description">
        <div id="implantation-description-title">
            <h3>Implantation du projet</h3>
            <p class="italic-300">Mont Saint Aignan, commune à côté de Rouen</p>
        </div>
        <h4 class="italic-500">« À la croisée de la ville et de la campagne, là où les horizons se rencontrent »</h4>
        <div class="img-container"><img src="../../assets/projets-academiques/quete/legende.png" alt=""></div>
    </div>
</section>
<section id="plan-rez-de-chaussée">
    <h3>Plan du Rez-de-chaussée</h3>
    <div id="plan-rdc" class="img-container"><img src="../../assets/projets-academiques/quete/Plan-RDC.png" alt=""></div>
    <div id="bande"><p class="italic-300">Une architecture modulable, où l’art et la culture jouent un rôle central. Chaque année, une nouvelle thématique (musique, théâtre, arts créatifs, littérature...) investit les lieux, transformant les espaces de vie en scènes d’expression, d’apprentissage et de découverte</p></div>
    <div id="plan-rdc-activites-display">
        <div id="plan-rdc" class="img-container"><img src="../../assets/projets-academiques/quete/Plan-RDC-legende.png" alt=""></div>
        <div id="dot-split"></div>
        <div id="plan-rdc-activites" class="img-container"><img src="../../assets/projets-academiques/quete/Plan-RDC-activites.png" alt=""></div>
    </div>
</section>
<section id="music" class="margin-sides">
    <h3>Pour l’année musique</h3>
    <div id="music-img-display" class="display-grid-4">
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/salle-a-manger-quotidien.png" alt=""></div><h4 class="italic-300">Salle à manger au quotidien</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/salle-a-manger-musicale.png" alt=""></div><h4 class="italic-300">Salle à manger musicale</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/salon-quotidien.png" alt=""></div><h4 class="italic-300">Salon au quotidien</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/salon-musicale.png" alt=""></div><h4 class="italic-300">Salon musicale</h4></div>
    </div>
</section>
<section id="plan-premier-etage" class="margin-sides">
    <h3>Plan du Premier étage</h3>
    <div id="plan-premier-etage-img-container" class="img-container"><img src="../../assets/projets-academiques/quete/Plan-R+1.png" alt=""></div>
    <div class="display-grid-4">
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/coursive-quotidien.png" alt=""></div><h4 class="italic-300">Coursive au quotidien</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/coursive-musicale.png" alt=""></div><h4 class="italic-300">Coursive musicale</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/chambre-1.png" alt=""></div><h4 class="italic-300">Chambre modulable</h4></div>
        <div id="container"><div class="img-container"><img src="../../assets/projets-academiques/quete/chambre-2.png" alt=""></div><h4 class="italic-300">Chambre modulable</h4></div>
    </div>
</section>
<section id="scenarios-d-usages-mobiliers" class="margin-sides">
    <h3>Scénarios d’usages du mobilier</h3>
    <div class="img-container"><img src="../../assets/projets-academiques/quete/scenarios-d-usages.png" alt=""></div>
</section>
<section id="idk" class="margin-sides">
    <h3>Plans détails mobilier ou coupes du projet ??</h3>
</section>
<section id="maquette" class="margin-sides">
    <div class="img-container"><img src="../../assets/projets-academiques/quete/maquette-1.jpeg" alt=""></div>
    <div class="img-container"><img src="../../assets/projets-academiques/quete/maquette-2.jpg" alt=""></div>
    <div><p><span class="bold">Ce foyer</span>, n’est pas seulement un toit : c’est un endroit où on <span class="bold">apprend à vivre ensemble autrement</span>, à partager, transmettre, à se sentir à sa place. C’est une maison où on peut s’ancrer, se poser, mais aussi <span class="bold">se projeter</span>. Ce foyer, c’est aussi un espace où l’on <span class="bold">prépare l’avenir</span>. En s’appuyant sur l’art et la culture comme leviers, <span class="bold">on offre</span> aux jeunes <span class="bold">des repères</span> et <span class="bold">des outils pour se construire</span>.</p></div>
</section>
</body>
</html>
<script src="../../js/nav.js"></script>